@tailwind base;
@tailwind components;
@tailwind utilities;

.text-2xl {
  font-size: 35px;
}
.tracking-wide {
  font-size: 30px;
}
.mt-4 {
  font-family: Edu TAS Beginner;
  font-size: 25px;
}
.p-1 {
  font-family: Agbalumo;
}
